.day-border{
    border: 0.5px solid #cfcfcf;
    text-align: right;
    min-width: 60px;
    max-width: 60px;
}

.day-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
}

.day-number{
    padding: 5px;
}