.day-border{
    border: 0.5px solid rgba(237, 237, 237, 0.782);
}

.day-td-cell{
    min-width: 60px;
    max-width: 60px;
    text-align: right;
}

.day-content{
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 2px;
    overflow-y: auto;
}

.day-number{
    padding: 4px;
}

.day-event{
    background: var(--day-event) !important;
    /* height: 30px; */
    border-radius: 5px;
    text-align: left;
    margin-top: 4px;
    padding: 4px;
    /* overflow-x: hidden; */
}

.day-event:hover{
    background: var(--day-event-hover) !important;
}

.text-opaque{
    color: rgb(144, 144, 144);
}

.today{
    background: red;
    border-radius: 20px;
    width: 20px;
    text-align: center;
    align-self: flex-end;
    color: #fff;
}

@media screen and (prefers-color-scheme: dark){

    .today{
        color: #000;
    }

    .day-border{
        border-color: rgb(79, 79, 79);
    }
}